<br>
<% teacher = Teacher.find(@teacher_id)%>

<div class="container mt-4" style="width: 100%;">
  Total <%= @reviews.size%> reviews, average ( <%= average_star = @reviews.average(:star).round(1)%> )
    <%# 선생님 성함 파트 %>
    <% review_size = Review.all.size%>
    <% review_5 = (Review.where(teacher_id: @teacher_id).where(star: 5).size.to_f / review_size * 100).to_i%>
    <% review_4 = (Review.where(teacher_id: @teacher_id).where(star: 4).size.to_f / review_size * 100).to_i%>
    <% review_3 = (Review.where(teacher_id: @teacher_id).where(star: 3).size.to_f / review_size * 100).to_i%>
    <% review_2 = (Review.where(teacher_id: @teacher_id).where(star: 2).size.to_f / review_size * 100).to_i%>
    <% review_1 = (Review.where(teacher_id: @teacher_id).where(star: 1).size.to_f / review_size * 100).to_i%>
    <h3><span style="color:gray;">Review of </span><%= teacher.name%></h3>
    <div style="display:flex;">
      <div style="flex:1; margin:0 20px 0 20px">
        5.0
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=review_5%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        4.0
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=review_4%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        3.0
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=review_3%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        2.0
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=review_2%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        1.0
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=review_1%>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div style="flex:1; margin:0 20px 0 20px;  max-height: 40vh; overflow: auto">
        <%@reviews.each do |review|%>
          <%user = User.find(review.user_id)%>
          <div class="card mt-4">
            <div class="card-body">
              <% count = 5%>
              <% for i in 1..review.star do%>
                  <span style="color:#d1cf52">★</span>
              <% end %>
              <h5 class="card-title"><%= user.email%></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at%></h6>
              <p class="card-text"><%= review.comment%></p>
              <a href="#" class="card-link">Report</a>
              <a href="#" class="card-link">Reply</a>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>


    <%# 작성 파트 %>
    <form action="/review/create/<%=@teacher_id%>" method="post">
        <div class="input-group mb-3">
            <h3 style="color:gray;">Stars</h3>
            <div class="stars">
            <input type="radio" name="star_rate" value="1"/>
            <input type="radio" name="star_rate" value="2"/>
            <input type="radio" name="star_rate" value="3"/>
            <input type="radio" name="star_rate" value="4"/>
            <input type="radio" name="star_rate" value="5"/>
            <i></i>
            </div>
        </div>

        <label for="basic-url" class="form-label"><b>Comment</b></label>
        <div class="input-group">
            <span class="input-group-text">Comment</span>
            <textarea class="form-control" aria-label="With textarea" name="comment"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary mt-4" style="float: right;">Submit</button>
    </form>
</div>

<style>
.stars {
  --s:50px;
  position:relative;
  display:inline-flex;
}
.stars input {
  width:var(--s);
  height:var(--s);
  margin:0;
  opacity:0;
  cursor:pointer;
}
.stars i {
  position:absolute;
  inset:0 0 calc(var(--s)*0.1);
  pointer-events:none;
  --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask:
    conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
    conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
    conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
    conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  background:
    linear-gradient(rgba(255,0,0,var(--o,0.3)) 0 0),  
    linear-gradient(gold                       0 0)
    #ccc;
  background-size:calc(var(--l,0)*var(--s)) 100%,calc(var(--p,0)*var(--s)) 100%;
  background-repeat:no-repeat;
}

.stars:focus-within {
  outline:1px solid;
}

input:active ~ i{--o:1}

input:nth-of-type(1):checked ~ i {--p:1}
input:nth-of-type(2):checked ~ i {--p:2}
input:nth-of-type(3):checked ~ i {--p:3}
input:nth-of-type(4):checked ~ i {--p:4}
input:nth-of-type(5):checked ~ i {--p:5}
input:nth-of-type(6):checked ~ i {--p:6}
input:nth-of-type(7):checked ~ i {--p:7}
input:nth-of-type(8):checked ~ i {--p:8}
input:nth-of-type(9):checked ~ i {--p:9}
input:nth-of-type(10):checked ~ i {--p:10}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

input:nth-of-type(1):hover ~ i {--l:1}
input:nth-of-type(2):hover ~ i {--l:2}
input:nth-of-type(3):hover ~ i {--l:3}
input:nth-of-type(4):hover ~ i {--l:4}
input:nth-of-type(5):hover ~ i {--l:5}
input:nth-of-type(6):hover ~ i {--l:6}
input:nth-of-type(7):hover ~ i {--l:7}
input:nth-of-type(8):hover ~ i {--l:8}
input:nth-of-type(9):hover ~ i {--l:9}
input:nth-of-type(10):hover ~ i {--l:10}
/*input:nth-of-type(N):hover ~ i {--l:N}*/
</style>