<div class="container mt-4 mb-4" style="width: 100%;">
    <%# <a href="/teacher-new" class="card-link">New Teacher</a> %>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top:40px">
    <% @teachers.each do |teacher| %>
        <div class="col">
        
        <% likes = Like.where("teacher_id = ?", teacher.id).where("user_id =?", current_user.id)%>
            
            <div class="card">
            <img src="<%= "/masterpiece.png" %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%=teacher.name%> </h5>
                    <p class="card-text" style="height:150px; overflow:auto; white-space:pre-wrap;"><%=teacher.desc%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">E-Mail : <a href="mailto:<%=teacher.email%>" style="color:black"><%=teacher.email%></a></li>
                </ul>
                <div class="card-body">
                <i class="bi bi-bookmark-heart"></i>
                <% if likes.size > 0 %>
                    <% likes.each do |like|%>
                        <a href="/unlike/<%=like.id%>" class="card-link"><button style="background:transparent; border:none;">❤️</button></a>
                    <% end %>
                <% else %> 
                    <a href="/like/<%=teacher.id%>" class="card-link"><button style="background:transparent; border:none;">♡</button></a>
                <% end %>
                    <a href="#" class="card-link">Classes</a>
                    <a href="/reviews/<%=teacher.id%>">Reviews</a>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>