<div class="container" style="width: 100%;">
    <body>
        <h1>Pages#home</h1>
        <p>Find me in app/views/pages/home.html.erb</p>

        <% if current_user %>
            <p>Hello <%=current_user.email%>!</p>
            <p>You are a [<%= current_user.role%>]</p>
            <% if current_user.admin? %>
            <br>
                There are <%= User.count %> users
            <% end %>
            <p>
                Junmannn의 개발 Archive 에 오신 것을 환영합니다
            </p>
            <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
        <% else %>
            <p>You are not signed in.</p>
        <% end %>
        <%= render "layouts/teachers"%>
    </body>
</div>



