<% @posts = Post.order(created_at: :desc).all%>
<% @posts.each do |post| %>
    <div class="card text-center mt-4">
        <div class="card-header">
            <h5 class="card-title">
                <% if post.post_type == 0 %>
                  [공지글]
                <% elsif post.post_type == 1 %>
                  [숙제]
                <% elsif post.post_type == 2 %>
                  [이벤트]
                <% end %>
            </h5>
        </div>
        <div class="card-body">
            <h3>제목 : <%=post.title%> </h3>
            <p class="card-text"><%=post.content%> </p>
        </div>
        <div class="card-footer text-muted">
            <p>
                글 작성자 : <%=post.author%>
            </p>
            <p>
                작성일 : <%=post.created_at%>
            </p>
        </div>
    </div>
    <hr>
    
    <% post_comments = post.comments.order("comments.created_at DESC")%>
    <%post_comments.each do |comment|%>
        <%= render :partial => 'layouts/post_comment', :locals => {:comment => comment}%>
    <% end %>
    <hr>
    <div style="width:90%; margin:auto">
        <h2>Leave a Comment</h2>
        <form action="/comment/create/<%=post.id%>" method="post">
            <textarea name="content" class="form-control"></textarea>
            <input type="submit" class="btn btn-default"></input>
        </form>
    </div>
<% end %>